############################
# React / Node
############################
node_modules/
chess-frontend/node_modules/
npm-debug.log*
yarn-error.log*

############################
# Build frontend
############################
dist/
build/

############################
# Java / Maven / Spring
############################
target/
*.class
*.jar
*.war
*.ear

############################
# IDE
############################
.idea/
*.iml
.vscode/

############################
# Environment variables
############################
.env
.env.production
.env.local
!*.env.example

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
*.pid

# Kafka
kafka/
**/kafka/**/logs/
*.log
**/kafka*/
**/kafka*/logs/
**/*.log

# --- Frontend ---
build/
.vercel/

# --- Kafka (Windows + WSL safe) ---
**\\kafka*
**\\kafka*\\logs*

# --- Misc ---
Help
*.log



